* {
    padding: 0;
    margin: 0;
}

.fly {
    background-image: url("../img/fly.gif");
    background-size: contain;
    width: 50px;
    height: 50px;
    position: fixed;
}

.fly_killed {
    background-image: url("../img/blood.png");
}

.playground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.fly_killer {
    cursor: url("../img/flykiller.png") 20 20,  pointer;
}

#menu {
    background-color: silver;
    border: 1px solid black;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 50%;

}

#menu div {
    display: inline-block;
    border: 1px solid white;
    padding: 4px;
}

#start {
    background-color: red;
    cursor: pointer;
}