.play_ground {
    border: 1px solid black;
    display: inline-block;
    font-size: 150%;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.5em;
}

.attempts, .results {
    font-size: 120%;
}

.hangman_picture {
    padding: 10px;
}

.keyboard {
    border-collapse: collapse;
}

.keyboard tr td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    width: 15px;
}

.keyboard a:active {
    border: 1px solid blue;
    background-color: deepskyblue;
}

.keyboard a:visited {
    color: blue;
}

.keyboard tr td a {
    text-decoration: none;
}
